.img img{
    width: 66%;
    
}

.img{
    display: flex;
    justify-content: flex-start;
    background-color: #009aaf;
    height: 100%;
}

.texto{
    padding-top: 10%;
    color: white;
}

p{
    font-size: 1.2em;
}