
<div class="img">
    <div>
        <img src="../../assets/PRODUTIVIDADE.png" alt="">

        
    </div>
    <div class="texto">
        <h1>LOREM IPSUM</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore alias at totam porro est veniam fugiat sunt! Veritatis eligendi sapiente tempora repellat ratione nam nobis corrupti dolorum expedita sequi.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore alias at totam porro est veniam fugiat sunt! Veritatis eligendi sapiente tempora repellat ratione nam nobis corrupti dolorum expedita sequi.</P>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia labore alias at totam porro est veniam fugiat sunt! Veritatis eligendi sapiente tempora repellat ratione nam nobis corrupti dolorum expedita sequi.</P>
    </div>
</div>
