.example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  p{
    cursor: pointer;
  }
  .cursos{
    padding-left: 163px;
  }

  a{
    color: white;
  }

  a:link{
    text-decoration: none;
    color: aliceblue;
  }

  a:visited {
    text-decoration: none;
  }

  a:active {
    text-decoration: underline;
  }

  .toolbar{
    background-color: black;
    display: flex;
    justify-content: center;
  }